body {
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    image-rendering: pixelated;
    position: absolute;
    width: 8px;
    height: 8px;
}
#player_map {
    background-color: transparent;
    border: 1px solid white;
    transform: scale(5);
    position: absolute;
    height: 56px;
    width: 72px;
    top: 125px;
}
#images_map {
    background-image: url("./map.png");
    transform: scale(5);
    position: absolute;
    height: 56px;
    width: 72px;
    top: 125px;
}



